* {
	margin: 0;
	padding: 0;
}

header {
    width: 100%;
    background: royalblue;
    overflow: hidden;
}

header h1 {
    color: aliceblue;
    font-size: 50px;
    font: oblique bold 300% cursive;
    float: left;
    line-height: 100px;
    margin-left: 10%;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-right: 25px;
    padding: 10px;
    border-radius: 30px;
}

header nav a:hover {
    font-size: 22px;
}

.registrarse {
    background: rgb(255, 153, 0);
    font: 110% sans-serif;
}

.registrarse:hover {
    background: rgb(10, 10, 9);
}

.iniciarSesion{
    background: rgb(36, 228, 19);
    font: 110% sans-serif;
}

.iniciarSesion:hover{
    background: rgb(10, 10, 9);
}

.menu {
    background: brown;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: aliceblue;
    text-decoration: none;
    font: 100% sans-serif;
    font-size: 20px;
    padding: 10px 50px; 
}

.menu a:hover {
    background: rgb(207, 82, 82);
}


main {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.filtros {
    overflow: hidden;
    width: 90%;
    height: 100px;
    margin: auto; 
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
}

.resultados {
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card img{
    width: 175px;
    height: 125px;
    border-radius: 15%;
}

.container .h3{
    font-size: 1.7em;
    margin-bottom: 1px;
    font: 150% sans-serif;

}

.container .card{
    align-content: center;
    font: 100% sans-serif;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0, 0.24);
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    line-height: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-10px)
}

 .category-wrapper{
    text-align: center;
    position: bottom;
    font: 100% sans-serif;
    margin-top: 15px;
}

 .category-wrapper a{
    color:aliceblue;
    text-decoration: none;
    font-size: 15px;
    margin-right: 5px;
    background: brown;
    padding: 7px;
    border-radius: 5%;
}

