* {
	margin: 0;
	padding: 0;
}

header {
    width: 100%;
    background: royalblue;
    overflow: hidden;
}

header h1 {
    color: aliceblue;
    font-size: 50px;
    font: oblique bold 300% cursive;
    float: left;
    line-height: 100px;
    margin-left: 10%;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-right: 25px;
    padding: 10px;
    border-radius: 30px;
}

header nav a:hover {
    font-size: 22px;
}

.registrarse {
    background: rgb(255, 153, 0);
    font: 110% sans-serif;
}

.registrarse:hover {
    background: rgb(10, 10, 9);
}

.iniciarSesion{
    background: rgb(36, 228, 19);
    font: 110% sans-serif;
}

.iniciarSesion:hover{
    background: rgb(10, 10, 9);
}

.menu {
    background: brown;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: aliceblue;
    text-decoration: none;
    font: 100% sans-serif;
    font-size: 20px;
    padding: 10px 50px; 
}

.menu a:hover {
    background: rgb(207, 82, 82);
}


main {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.clima {
    overflow: hidden;
    width: 90%;
    height: 200px;
    margin: auto; 
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
}

.alertas {
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
}